@model LoginViewModel
@{
    Layout = string.Empty;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tolga Bektaş | Giriş Yap</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/modules/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <script src="~/modules/jquery/dist/jquery.min.js"></script>
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>


    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">


    <style type="text/css">
        .login-page {
            background-color:gray;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a style="color:white;" href="http://www.tolgabektas.com/"><b>Tolga </b>Bektaş</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Giriş yapmak için formu doldurunuz</p>

                <form method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" autocomplete="off" placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>                        
                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- AdminLTE -->
    <script src="~/admin/js/adminlte.min.js"></script>
</body>

</html>